
<scroll-view class="lighten-2 blue grey-text text-lighten-4">
  <div class="row">
    <div class="col s4">
      <p></p>
    </div>
    <div class="col s4">
      <div class="valign-wrapper center-align">
        <h1 style="margin: 0px auto;display:block;font-weight:200;" class="center-align">
          <div class="center-align animated slideInRight">{{app.name}}
          </div><small style="display:block;font-size:50%;" class="center-align animated slideInLeft">
             
            UI Materialize.css Framework</small>
        </h1>
      </div>
      <div class="card-panel white center-align animated fadeInUp">
        <div class="card-image"><img src="app/drawable/logo.jpg" class="responsive-img"/></div>
        <div class="card-content">
          <p class="black-text">{{app.description}}</p>
          <p class="blue-text"><small>
               
              work done by people <a href="{{app.website}}" target="_blank">{{app.company}}</a></small></p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <p></p>
    </div>
  </div>
</scroll-view>