scroll-view.lighten-2.blue.grey-text.text-lighten-4
	.row
		.col.s4
			p
		.col.s4
			.valign-wrapper.center-align
				h1.center-align(style="margin: 0px auto;display:block;font-weight:200;")
					.center-align.animated.slideInRight
						| {{app.name}}
						//- icon-dw(name="dw-user")
					small.center-align.animated.slideInLeft(style="display:block;font-size:50%;") 
						| UI Materialize.css Framework
			.card-panel.white.center-align.animated.fadeInUp
				.card-image
					img.responsive-img(src="app/drawable/logo.jpg")
				.card-content
					p.black-text
						| {{app.description}}
					p.blue-text
						small 
							|work done by people 
							a(href="{{app.website}}" target="_blank") {{app.company}}

		.col.s4
			p