scroll-view.lighten-2.blue.grey-text.text-lighten-4
	.row
		.col.s4
			p
		.col.s4
			.valign-wrapper.center-align
				h1.center-align(style="margin: 0px auto;display:block;font-weight:200;")
					.center-align Mr. Front
					small.center-align(style="display:block;font-size:50%;") 
						| UI Materialize.css Framework
			.card-panel.white.center-align
				.card-image
					img.responsive-img(src="app/drawable/logo.jpg")
				.card-content
					p.black-text
						| This is a compiler based on Materialize.css and Grunt, in order to create Apps with stylish designs.
					p.blue-text
						small 
							|work done by people 
							a(href="http://draweb.com.ar" target="_blank") draweb

		.col.s4
			p