doctype html
html( lang="es" ng-app="app.mrfront")
		head
			title {{app.title}}
			meta(name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9, user-scalable=no")
			meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
			meta(name="contact" content="{{app.contact}}")
			meta(name="copyright" content="{{app.copyright}}")
			meta(name="author" content="{{app.author}}")
			meta(name="description" content="{{app.description}}")
			meta(name="keywords" content="{{app.keywords}}")
			//- link(rel="stylesheet" href="vendor/icons/font-awesome/css/font-awesome.min.css")
			//- link(rel="stylesheet" href="vendor/materialize/css/materialize.min.css")
			script(type="text/javascript" src="app/draweb.js")
			script(type="text/javascript" src="app/app.js")
			link(rel="shortcut icon" href="favicon.ico")
			link(rel="stylesheet" href="app/draweb.css")
			link(rel="stylesheet" href="app/app.css")			
		body
			dw-nav